
.header {
  width: 100%;
  padding: 2%;
  background-color: rgb(88, 243, 122);
  color: white;
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: rgb(555, 200, 789);
  padding: 5%;
}

.number {
  color: rgba(0, 255, 21, 0.918);
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}
